- habilidadesWeb = ['HTML', 'CSS', 'Javascript']

ul
	for habilidad in habilidadesWeb
		li= habilidad
	else
		li usted no posee habilidades

ul#vocales
	for letra in ['a','e','i','o','u']
		li Vocal #{letra}