// declaracion de variables

- titulo = 'Mi Titulo'
- persona = {nombre:'Jhossymar',apellido:'Contreras', edad: 24}
- despedida = false
- hola = 'Hola'
- adios = 'Adios'

// uso de variables

h1= titulo
h2= "Hola yo soy "+persona.nombre+" "+persona.apellido
h3  Tengo #{persona.edad} años de edad
h5 Eligiendo: #{despedida ? adios: hola}