colorUno = #f8f465
colorDos = #457892

body
	background colorUno
	color colorDos

	a
		color #fff

	.pruebaUno
		width w = 150px
		height h = 100px
		background colorDos
		margin (h/2) (w/2)

	.pruebaDos
		width 200px
		height 100px
		background colorDos
		margin (@height/2) (@width/2)